
#loginScreen {
	margin-top: 0px;
margin-bottom: 0px;
text-align: right;
align-items: initial;
position: relative;
top: -16;
right: 5px;
color: #ffffff;
font-size: 14px;
font-family: arial;
}
#header {
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7e7d 40%, #0e0e0e 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#7d7e7d), color-stop(98%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 40%,#0e0e0e 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 40%,#0e0e0e 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 40%,#0e0e0e 98%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 40%,#0e0e0e 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	height: 60px;
	border-radius: 3px;
	margin: 0;
	width: 1349px;
	top: 0;
	position: absolute;
}

#logout{
	height: 25px;
width: 25px;
float: right;
margin-right: 5px;
margin-top: 5px;
margin-bottom: 5px;
}

#logoutText{
float: right;
margin-right:10px;
margin-top:10px;
BORDER-BOTTOM: 0px; TEXT-ALIGN: left;
BORDER-LEFT: 0px; FONT-FAMILY: arial;
BORDER-TOP: 0px;
BORDER-RIGHT: 0px;
color: #ffffff;
font-size: 14px;
text-decoration: none !important;
}
#logoutText:hover
{
color: #02d6fc;
}

#welcome{
margin-top: 0px;
margin-bottom: 0px;
text-align: right;
align-items: initial;
position: relative;
top: -16;
right: 5px;
color: #ffffff;
font-size: 14px;
font-family: arial;
}

#footer {
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7e7d 40%, #0e0e0e 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#7d7e7d), color-stop(98%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 40%,#0e0e0e 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 40%,#0e0e0e 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 40%,#0e0e0e 98%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 40%,#0e0e0e 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	height: 20px;
	border-radius: 3px;
	bottom: 0;
	width: 100%;
	position: fixed;
	text-align:center;
	font-size:10px;
}

body{
	margin-left:0px;
}

#leftnav {
	float: left;
	top: 60px;
	//margin: 52.1px 0 0 0;
	height: 200%;
	display: block;
	background-color: #858585;
	position: absolute;
	width: 210;
}

.leftnav-button{
	text-align: left;
	color: White;
	font-family: arial;
	font-weight: 550;

	background: -moz-linear-gradient(top,  rgba(127,127,127,1) 5%, rgba(110,110,110,1) 25%, rgba(53,53,53,0.93) 93%, rgba(53,53,53,0.92) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(127,127,127,1)), color-stop(25%,rgba(110,110,110,1)), color-stop(93%,rgba(53,53,53,0.93)), color-stop(100%,rgba(53,53,53,0.92))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(127,127,127,1) 5%,rgba(110,110,110,1) 25%,rgba(53,53,53,0.93) 93%,rgba(53,53,53,0.92) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(127,127,127,1) 5%,rgba(110,110,110,1) 25%,rgba(53,53,53,0.93) 93%,rgba(53,53,53,0.92) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(127,127,127,1) 5%,rgba(110,110,110,1) 25%,rgba(53,53,53,0.93) 93%,rgba(53,53,53,0.92) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(127,127,127,1) 5%,rgba(110,110,110,1) 25%,rgba(53,53,53,0.93) 93%,rgba(53,53,53,0.92) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#eb353535',GradientType=0 ); /* IE6-9 */
	#background-color:#636363;

	border: 0;
	-webkit-user-select: #90D21D;
	-moz-user-select: #90D21D;
	-ms-user-select: #90D21D;

}

.nav-button {

	margin: 0px 0px 0px 5px;
	width: 97%;
	height:30px;
	text-align: left;
	color: White;
	font-family: arial;
	font-weight: 550;
	background: -moz-linear-gradient(top,  rgba(127,127,127,1) 5%, rgba(110,110,110,1) 25%, rgba(53,53,53,0.93) 93%, rgba(53,53,53,0.92) 10%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(127,127,127,1)), color-stop(25%,rgba(110,110,110,1)), color-stop(93%,rgba(53,53,53,0.93)), color-stop(10%,rgba(53,53,53,0.92))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(127,127,127,1) 5%,rgba(110,110,110,1) 25%,rgba(53,53,53,0.93) 93%,rgba(53,53,53,0.92) 10%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(127,127,127,1) 5%,rgba(110,110,110,1) 25%,rgba(53,53,53,0.93) 93%,rgba(53,53,53,0.92) 10%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(127,127,127,1) 5%,rgba(110,110,110,1) 25%,rgba(53,53,53,0.93) 93%,rgba(53,53,53,0.92) 10%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(127,127,127,1) 5%,rgba(110,110,110,1) 25%,rgba(53,53,53,0.93) 93%,rgba(53,53,53,0.92) 10%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#eb353535',GradientType=0 ); /* IE6-9 */
	#background-color:#636363;

	border: 0.1px solid black;
	-webkit-user-select: #90D21D;
	-moz-user-select: #90D21D;
	-ms-user-select: #90D21D;
	
	list-style-type : none;
}

.leftnav-button:hover {
	color: #90D21D;
}

.topnav-button:hover {
	color: #02d6fc;
}

.leftnav-button:active{
color:#90D21D;
}



#logo {
	
	align: left;
	height: 42px;
	width: 90px;
	margin-left: 25;
	margin-top:10px;
}

#topnav {
	display: block;
	background-color: #858585;
	top: 30;
	left: 220;
	position: absolute;
}
.leftnav-anc {
BORDER-BOTTOM: 0px; TEXT-ALIGN: left;
BORDER-LEFT: 0px; FONT-FAMILY: arial;
BORDER-TOP: 0px;
BORDER-RIGHT: 0px;
color: #ffffff;
font-size: 13px;
text-decoration: none !important;
display: block;
 
}
.leftnav-anc:hover  {
BORDER-BOTTOM: 0px; TEXT-ALIGN: left;
BORDER-LEFT: 0px; FONT-FAMILY: arial;
BORDER-TOP: 0px;
BORDER-RIGHT: 0px;
color: #02d6fc;
font-weight: 550;
text-decoration: none !important;
 
}



.img_icons
{
position: relative;
top:5px;

align:bottom;
	height: 24px;
	width: 24px;
}

.topnav-button {
	color: White;
	font-family: arial;
	font-weight: 550;
	margin-right: 0px;
	border-radius: 2px;
	background: -moz-linear-gradient(top,  rgba(127,127,127,1) 5%, rgba(110,110,110,1) 25%, rgba(53,53,53,0.93) 93%, rgba(53,53,53,0.92) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(127,127,127,1)), color-stop(25%,rgba(110,110,110,1)), color-stop(93%,rgba(53,53,53,0.93)), color-stop(100%,rgba(53,53,53,0.92))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(127,127,127,1) 5%,rgba(110,110,110,1) 25%,rgba(53,53,53,0.93) 93%,rgba(53,53,53,0.92) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(127,127,127,1) 5%,rgba(110,110,110,1) 25%,rgba(53,53,53,0.93) 93%,rgba(53,53,53,0.92) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(127,127,127,1) 5%,rgba(110,110,110,1) 25%,rgba(53,53,53,0.93) 93%,rgba(53,53,53,0.92) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(127,127,127,1) 5%,rgba(110,110,110,1) 25%,rgba(53,53,53,0.93) 93%,rgba(53,53,53,0.92) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#eb353535',GradientType=0 ); /* IE6-9 */
	border: 1px solid black;
	-webkit-user-select: #90D21D;
	-moz-user-select: #90D21D;
	-ms-user-select: #90D21D;
}

#addel {
	display: block;
	left: 220;
	top: 70;
	position: absolute;
}

.addel-button {
width:100px;
background: rgb(184,225,252); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */

height: 25px;
color:black;
font-weight: bold;


}


#table {
height: 20px;
	position: absolute;
	left: 220;
	top: 80px;
	width: 80%;


}

#additional {

	position:absolute;
	left:320;
	bottom: 10;
	margin-left:10px
	margin-right:10px;
	margin-top:10px
	margin-bottom:10px;
	padding-right:10px;
	padding-left:10px;
	
}

table {
	height: 20px;
	border-collapse: collapse;
	border: 1px solid  #bcdef4;
	border-radius: 3;
	margin-right:10px;
	margin-top:10px;
}


th {
background: rgb(235,241,246); /* Old browsers */
background: rgb(174,188,191); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(174,188,191,1) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,188,191,1)), color-stop(50%,rgba(110,119,116,1)), color-stop(51%,rgba(10,14,10,1)), color-stop(100%,rgba(10,8,9,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
color:white;

	height: 30px;
	border: 1px solid  #bcdef4;
	padding-right:10px;
	padding-left:10px;
	
}

td {
	border: 1px solid  #bcdef4;
	padding-right:10px;
	padding-left:10px;
}


#grouptable1 tr,#grouptable1 td{

	border: 0px ;
}
#grouptable2 tr,#grouptable2 td{

	border: 0px ;
}

#grouptable1,#grouptable2{
	
	border:1px solid #bcdef4;
}

.set{
	height:20px;
	width:20px;
}

#pol {
	padding-left:10px;
	text-align:left;
	background:#E7E7E7;
	
	}


#usertable1,#usertable1 tr,#usertable1 td{
	
	border:0px;
}

.leftd{
	text-align: right;
}

#tbl1 td ,#tblband td ,#tblband2 td ,#tblband3 td,#tblgw2 td,#tbl1,.date_table td,.date_table{
	border: 0px;
}
#tblband,#tblband2,#tblband3,#tblgw2{
	width:80%;
	padding:10px;
}
#webfltrform1,#webfltrform2{
	border:0px;
	margin-bottom:0px;
}

#success{
	text-align:left;
	color:red;
	padding-top: 10px;
	padding-bottom: 10px;
}

#wf_form1{
	border:1px solid #E7E7E7;
}
#wf_form2{
	border:1px solid #E7E7E7;
	margin-top: 10px;
	padding: 10px;
}


#tblband2,#tblband3,#tblgw2{
	margin-bottom:10px;
	margin-top: 12px;
}
#wf_p,#wf_p2,#wf_p3{
	    background: #E7E7E7;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left:4px;
    text-align:left;
    
}

#ttd{
	padding-top: 4px;
	padding-bottom: 0px;
	border-bottom-width: 0px;
}
#btd{
	border-top-width: 0px;
}
#intble{
height: 20px;
margin-bottom: 10px;
margin-top: 2px;
text-align : center;	
margin-top:10px;
}

.b,#tbl1,#wuf,#utb{
	width: 100%;
	margin-bottom: 10px;
	
}

#chk{
	text-align: center;
}

.subcaption{
	padding: 5;
text-align: -webkit-center;
color: darkslateblue;
font-weight: bold;

}
.ruletbl{
	width: 650;
}

.summarydiv{
	margin:10px;
	float:left;
	
}

.tb1 caption,.tb0 caption{
height:25px;
background: rgb(174,188,191); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(174,188,191,1) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,188,191,1)), color-stop(50%,rgba(110,119,116,1)), color-stop(51%,rgba(10,14,10,1)), color-stop(100%,rgba(10,8,9,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
color:white;
font-weight: bold;
}

.topbottomdiv{
	width:100%;
	margin:10px;
	float:left;
	clear:both;
}

#system_status,#app_info{
	clear:right;
}


.datediv{
	float:left;
	background: rgb(235,241,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */


	border-radius: 10;
}
.print{
	float:right;
}
.num_records_div{
	float: left;
	clear: both;
	width: 100%;
	background: rgb(235,241,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */


	border-radius: 2;
	
}

.charts_div,.charts_div_user{
	float: left;

}


.charts_div_main div{	
margin-bottom: 15;

}

.caption{
	background: rgb(235,241,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

    font-weight: bold;
	text-align: left;
	padding-left: 10;
}
.go_button{
	height: 45px;
	width: 45px;
}

#user_popup_num{
	width: 41px;
	height: 18px;
}

#user_popup_num_div{
	font-size:small;
}

#chart3{
	clear:both;
}

li{
	list-style-type : none;	
}

.nextprev{
	vertical-align: middle;
}

.vdi_btn_img{
	height: 25px;
	width: 25px;
	margin-left:10px;
	
}

#vdi_system_status{
	width : 90%;
	clear : both;
}




#tb1{
	Width : 1000px; 
}

.tb0{
	float : left ;
	width : 500px;
}

#progressbar {
				width: 100%;
				background: #eee;
				padding: 3px;
				border-radius: 3px;
				box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
			}
			
#progress {
				height: 15px;
				background: cornflowerblue;
				display: block;
				border-radius: 3px;
				-webkit-transition: width 0.8s ease;
				-moz-transition: width 0.8s ease;
				transition: width 0.8s ease;
				
			}			
			
			
#upload_form{
	margin-bottom: 5px;
	margin-top: 5px; 
}


.leftd,.midtd{
	border-right : 0px;
}

.rightd,.midtd{
	border-left : 0px;
}

.len_button{
	height : 90%;
	width : 100%;
}

